*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Karla, sans-serif;
  background-color: rgba(11, 36, 52, 1);
  padding: 35px;
  justify-content: center;
  display: flex;
  align-items: center;
}
